 <!-- popup login -->
 <div class="modal fade" id="modalLogin">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="flat-account bg-surface">
                <h3 class="title text-center">Log In</h3>
                <span class="close-modal icon-close2" data-bs-dismiss="modal"></span>
                <form action="#">
                    <fieldset class="box-fieldset">
                        <label for="name">Your Names<span>*</span>:</label>
                        <input type="text" class="form-contact style-1" value="themesflat@gmail.com|">
                    </fieldset>
                    <fieldset class="box-fieldset">
                        <label for="pass">Password<span>*</span>:</label>
                        <div class="box-password">
                            <input type="password" class="form-contact style-1 password-field" placeholder="Password">
                            <span class="show-pass">
                                <i class="icon-pass icon-eye"></i>
                                <i class="icon-pass icon-eye-off"></i>
                            </span>
                        </div>
                    </fieldset>
                    <div class="d-flex justify-content-between flex-wrap gap-12">
                        <fieldset class="d-flex align-items-center gap-6">
                            <input type="checkbox" class="tf-checkbox style-2" id="cb1">
                            <label for="cb1" class="caption-1 text-variant-1">Remember me</label>
                        </fieldset>
                        <a href="#" class="caption-1 text-primary">Forgot password?</a>
                    </div>                   
                    <button type="submit" class="tf-btn primary w-100">Login</button>
                    <div class="mt-12 text-variant-1 text-center noti">Not registered yet?<a href="#modalRegister" data-bs-toggle="modal" class="text-black fw-5">Sign Up</a> </div>
                </form>
            </div>
        </div> 
    </div>
</div>